import { updateProductStock } from './utils/updateProductStock';
import pMap from 'p-map';

import { Product } from './models/Product';

export const migrator = async (req, res) => {
  const products = await Product.findAll({});

  await pMap(products, (product) => updateProductStock(product.id), {
    concurrency: 250,
  });

  console.log('yeah');

  res.send(200);
};
